{{#paper-sidenav-container class="sidenav-container"}}
  {{#paper-sidenav
    class="md-whiteframe-z2"
    name="default"
    open=open
    onToggle=(action (mut open))
  }}
    {{#paper-toolbar class="layout-column" as |toolbar|}}
      {{#toolbar.tools class="flex"}}
        <div class="flex layout-row">
          <span class="flex"></span>
          <img class="menu-logo" width="310" height="80" alt="Puzzle ITC GmbH"
              src="assets/pictures/puzzle_classic_bg_rgb.svg">
        </div>
        {{#best-time tagName="div" class="layout-column" as |bestTime|}}
          <div class="game-timer-best">
            {{paper-icon "timer" size=42}}
            {{format-timer bestTime.time}}
          </div>
          <div class="game-timer-best-date">
            {{moment-format bestTime.date 'DD.MM.YYYY[ - ]HH:mm'}}
          </div>
        {{/best-time}}
      {{/toolbar.tools}}
    {{/paper-toolbar}}
    {{#paper-content}}
      {{#paper-list}}
        {{#menu-item
          active=(eq currentRouteName 'play')
          onClick=(transition-to 'play')
          }}
          {{paper-icon "play-circle-filled"}}
          <div class="md-list-item-text">Puzzle Slider Game</div>
        {{/menu-item}}
        {{#menu-item
          active=(eq currentRouteName 'leaderboard')
          onClick=(transition-to 'leaderboard')
          }}
          {{paper-icon "stars"}}
          <div class="md-list-item-text">Leaderboard</div>
        {{/menu-item}}
        {{#menu-item
          active=(eq currentRouteName 'about')
          onClick=(transition-to 'about')
          }}
          {{paper-icon "help"}}
          <div class="md-list-item-text">Über uns</div>
        {{/menu-item}}
        {{#menu-item
          active=(eq currentRouteName 'intro')
          onClick=(transition-to 'intro')
          }}
          {{paper-icon "play-arrow"}}
          <div class="md-list-item-text">Anleitung</div>
        {{/menu-item}}
      {{/paper-list}}
    {{/paper-content}}
  {{/paper-sidenav}}

  {{#paper-card-content class="flex layout-column"}}
    {{~yield~}}
  {{/paper-card-content}}
{{/paper-sidenav-container}}
