{{#ember-wormhole to="subtoolbar"}}
  {{#paper-toolbar
    class="layout-row layout-align-start-center"
    accent=true
    as |toolbar|
    }}
    <div>
      {{~game-timer registerOn=this~}}
      <div class="game-timer-best">
        {{#best-time as |bestTime|}}
          {{paper-icon "timer" size=16}}
          {{bestTime.formatted}}
        {{/best-time}}
      </div>
    </div>
    <div class="flex"></div>
    {{#paper-button iconButton=true onClick=(action 'toggle')}}
      {{paper-icon (if playing 'stop' 'play-arrow') size=36}}
      {{playing}}
    {{/paper-button}}
  {{/paper-toolbar}}
{{/ember-wormhole}}
<puzzle-board class="md-whiteframe-3dp" tiles={{tiles}}></puzzle-board>
